{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="{% static 'home/img/favicon.ico' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/post.css' %}">

    <!-- Importing Font (Roboto Condensed) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet"> 

    {% if title %}
        <title>Cyber Security Database - {{ title }}</title>
    {% else %}
        <title>Cyber Security Database</title>
    {% endif %}

</head>
<body>
      <div class="container-fluid">
        <div class="row">
            <div class="col-sm-auto bg-dark sticky-top">
                <div class="d-flex bg-dark flex-sm-column flex-row flex-nowrap align-items-center sticky-top">
                    <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                        <li class="nav-item">
                            <a href="{% url 'csdb-home' %}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                             <h1 class="pt-2"><strong>CSDB</strong></h1>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'csdb-home' %}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                                <i class="bi bi-journal-text"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'csdb-learning' %}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                                <i class="bi bi-mortarboard-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'csdb-news' %}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                                <i class="bi bi-newspaper"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'csdb-forum' %}" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                                <i class="bi-people fs-1"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="modal" data-bs-target="#about_us_modal">
                                <i class="bi bi-question-square"></i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-sm px-0 min-vh-100">
              <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid d-flex justify-content-end">
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert mx-5 py-1 mt-1 mb-0 alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% endif %}
                    <span class="navbar-text">
                      <button type="button" class="btn btn-lg btn-outline-light ms-1 me-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-envelope-plus me-2"></i>Submit a Vulnerability</button>
                    </span>
                </div>
              </nav>
              <div id="main_content" class="container-fluid bg-light mt-4 py-3 px-0">
                {% block content %}{% endblock %}
            </div>
            </div>
            </div>
        </div>
  <!-- Submission Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title" style="font-size:2.3rem;color:white;" id="staticBackdropLabel">Submit a Vulnerability</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">          
            <form method="post" id="submit_form">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">Contact Email</label>
                    {{submission_form.author_email}}
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Author Name</label>
                    {{submission_form.author_name}}
                    <div id="namelHelp" class="form-text">This name will be used as an author name on a published submission.</div>
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Type of Vulnerability</label>
                    {{submission_form.vuln_type}}
                    <div id="typelHelp" class="form-text">Please enter the type of vulnerability being submitted.</div>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    {{submission_form.vuln_title}}
                    <div id="titlelHelp" class="form-text">Please enter a descriptive, short title for your submission.</div>
                </div>
                <div class="mb-3">
                    <label for="description_text" class="form-label">Description of the Vulnerability</label>
                    {{submission_form.vuln_description}}
                </div>                
                <div class="mb-3">
                    {{submission_form.captcha}}
                </div>  
                <!-- <div class="mb-3">
                    <label for="formfile" class="form-label">Attachments</label>
                    {{submission_form.vuln_attachments}}
                </div> -->
                <div class="mb-3 ps-1 form-check">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" style="font-size:1.1rem;" for="privacy_policy_check">I have read and accept the <a href="{% url 'csdb-privacy' %}">Terms & Privacy Policy</a></label>
                      </div>
                </div>
            </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-light">Submit</button>
        </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="about_us_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header bg-dark">
          <h5 class="modal-title" style="font-size:2.3rem;color:white;" id="staticBackdropLabel">About the <strong>CSDB</strong></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">          
            <p class="h3">The Cyber Security DataBase (CSDB) was developed as part of a dissertation project by <a href="#" class="link-dark">Ivelin Ivanov.</a>
            <p class="pt-3 h3">The question behind the dissertation project was "How to centralize cyber security knowledge". The CSDB platform answers that by
                collecting different types of knowledge regarding Cyber Security, and publishing it all in one place. The platform has the following features:
                <ul><strong>
                    <li class="h3"><strong>Community-submitted, reviewed by administrators vulnerabilities</strong></li>
                    <li class="h3"><strong>Tutorials on different topics related to CyberSec</strong></li>
                    <li class="h3"><strong>Latest Cyber Security News</strong></li>
                    <li class="h3"><strong>Community Forum - Coming Soon!</strong></li>
                </ul>
            </p>
            <p class="h2 pt-5"> "Knowledge is power" - Sir Francis Bacon</p>
            
        </p>
        </div>
        <div class="modal-footer bg-dark">
        </div>
       </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
