{% extends "csdb_templates/base.html" %}
{% block content %}
<div id="submission_filters" class="row container-fluid d-flex justify-content-end">
    <div class="col ps-0">
        <div class="input-group">
            <div class="form-outline">
              <input type="search" id="form1" class="form-control" />
            </div>
            <button type="button" class="btn btn-dark">
              <i class="bi bi-search"></i>
            </button>
          </div>
    </div>
</div>
<div id="submissions" class="container-fluid d-flex align-items-center justify-content-center flex-column mx-0 ps-2 pe-1">
    <div id="posts_legend" class="mb-1  row container-fluid flex-row ps-1">
        <div id="title" class="col-4 pt-2 ps-0 pb-0 d-flex justify-content-start align-items-end">
        <p>Submission Title</p>
        </div>
        <div class="col-2 me-1 pt-2 ps-0  d-flex justify-content-start align-items-end">
            <p>Type</p>
        </div>
        <div class="col-3 me-1 pt-2 ps-0  d-flex justify-content-center align-items-end ">
            <p>Author</p>
        </div>
        <div class="col-2 pt-2 ps-0 d-flex justify-content-center align-items-end ">
            <p>Date</p>
        </div>
</div>
    {% for submission in submissions %}
    {% if submission.is_approved == True %}
    <div id="post" class="row container-fluid flex-row ps-1">
            <div id="title" class="col-4 ps-0 pt-2 d-flex justify-content-start">
            <a class="h4 p-2 link-dark" style="text-decoration:none;" href="{% url  'show-submission' submission.id  %}">{{ submission.vuln_title }}</a>
            </div>
            <div class="col-2 me-2 pt-2 ps-0 d-flex justify-content-start ">
                <p>{{ submission.vuln_type }}</p>
            </div>
            <div class="col-3 me-1 pt-2 d-flex justify-content-center ">
                <p>{{ submission.author_name }}</p>
            </div>
            <div id="posted_date" class="col-2 pt-2 d-flex">
                {{ submission.date_submitted|date:'d F, Y' }}
            </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div id="page_nav" class="row">
    <div class="col d-flex align-items-center justify-content-center mt-3">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
              {% if submissions.has_previous %}
              <li class="page-item">
                <a class="page-link" style="color:black;" href="?page=1" aria-label="First">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">First</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" style="color:black;" href="?page={{ submissions.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              {% endif %}
              <li class="page-item"><p class ="page-link" style="color:black;" ><strong>{{ submissions.number }}</strong> of <strong>{{ submissions.paginator.num_pages }}</strong></p></li>
              {% if submissions.has_next %}
              <li class="page-item">
                <a class="page-link" style="color:black;" href="?page={{ submissions.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" style="color:black;" href="?page={{ submissions.paginator.num_pages }}" aria-label="Last">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Last</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
    </div>
</div>
<rssapp-ticker id="ihLw7tBEDHV2LpWD"></rssapp-ticker><script src="https://widget.rss.app/v1/ticker.js" type="text/javascript" async></script>
{% endblock content %}