body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:2em;
    background:rgba(216, 216, 216, 0.678);
}

.nav-link{
    color:white !important;
}
.nav-link:hover{
    color:rgb(158, 158, 158) !important;
}

#main_content{
   max-width: 98%;
}

#submit_form .form-text{
    font-size:1.1rem;

}
#tutorial{
    font-size: 1.3rem;
    border-top:solid rgba(0, 0, 0, 0.315) 0.25px !important;
    border-bottom:solid rgba(0, 0, 0, 0.315) 0.25px !important;
    border-left: 0;
    border-right: 0;
    min-height:5%;
}
#tutorials_legend{
    font-size: 1.3rem;
    border-bottom: solid black 0.55px ;
}

#csbasics_tutorials>#tutorial:nth-child(odd){
    background:rgb(167, 165, 165);
    border:0;    
}


#tutorials_category_carousel .card{
    min-height:34vw;
    max-width:37vw; 
    max-height:42vw;
}
#tutorials_category_carousel{
    width:60%;
}

@media (max-width: 1200px) {
#tutorials_category_carousel .card{
    min-height:55vw;
    max-width:55vw; 
}
}
@media (max-width: 990px) {
#tutorials_category_carousel{
    width:100%;
}
#tutorials_category_carousel .card{
    min-height:95vw;
    max-width:55vw; 
}
}
@media (max-width: 768px) {
    
#tutorial_date_posted, #tutorial_author{
    display: flex !important;
    justify-content: center !important;
} 
#tutorials_category_carousel{
    width:100%;
}
#tutorials_category_carousel .card{
    min-height:65vw;
    max-width:55vw; 
}

}

@media (max-width: 575px) {
    
#tutorials_category_carousel .card{
    min-height:110vw;
    max-width:55vw; 
}
.nav-link{
    margin-right:1vw;
}
.navbar-text{
    margin-right:25%;
    margin-left:25%;  
}
}