body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:2em;
    background:rgba(216, 216, 216, 0.678);
}

.nav-link{
    color:white !important;
}
.nav-link:hover{
    color:rgb(158, 158, 158) !important;
}

#main_content{
   max-width: 98%;
}


#post{
    border:solid black 0.25px !important;
    border-radius: 0.5vw;
}

#author_column{
    font-size: 1.8rem;
    border-right:solid black 0.25px;
}

@media (max-width: 1200px) {}
@media (max-width: 990px) {
    #author_column{
        border-right:none;
        border-bottom: solid black 0.25px;
    }
    
}
@media (max-width: 768px) {

}

@media (max-width: 575px) {
.nav-link{
    margin-right:1vw;
}
.navbar-text{
    margin-right:25%;
    margin-left:25%;  
}
}