body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size:2em;
    background:rgba(216, 216, 216, 0.678);
}

.nav-link{
    color:white !important;
}
.nav-link:hover{
    color:rgb(158, 158, 158) !important;
}

#main_content{
   max-width: 98%;
}

#submit_form .form-text{
    font-size:1.1rem;

}


.carousel_inner .card{
    width:100%;
}
#tutorials_category_carousel{
    width:80%;
}

.card-img-top{
    width:90%;
    padding-left:5%;
    padding-right:5%;
    
}
@media (max-width: 1200px) {}
@media (max-width: 990px) {}
@media (max-width: 768px) {
#tutorials_category_carousel{
    width:100%;
}
}

@media (max-width: 575px) {
.nav-link{
    margin-right:1vw;
}
.navbar-text{
    margin-right:25%;
    margin-left:25%;  
}
}