#submissions>#post:nth-child(even){
    background:rgb(167, 165, 165);
}

#post{
    border:solid black 0.25px !important;
    border-radius: 0.5vw;
}

#author_column{
    font-size: 1.8rem;
    border-right:solid black 0.25px;
}

@media (max-width: 1200px) {}
@media (max-width: 990px) {
    #author_column{
        border-right:none;
        border-bottom: solid black 0.25px;
    }
    
}
@media (max-width: 768px) {

}

@media (max-width: 575px) {
}